@{
    ViewBag.Title = "AccessDenied :: CAMSPlus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

  <h2 style="margin-left: 40%;"></h2>
  <img style="margin-left: 40%;" src="~/Content/btnImage/AccessDenied.png" />
