@model SECU_CAMSPlus_DEV.Models.UserInfo

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ForgotPassword</title>
    <link href="~/Content/themes/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Logincss/bootstrap-reset.css" rel="stylesheet" />


</head>
<body>
    <div>
        @using (Html.BeginForm("ForgotPassword", "ForgotPassword", FormMethod.Post, new { @class = "form-signin " }))
        {
           // <div aria-hidden="false" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade in" style="display: block; padding-left: 17px;"><div class="modal-backdrop fade in" style="height: 296px;"></div>
            <div id="div_Forgotpassword" class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">

                        <h4 class="modal-title">Forgot Password ?</h4>
                    </div>
                    <div class="modal-body">
                        <p>Enter your e-mail address below to reset your password.</p>

                        @Html.TextBox("ForgotLoginID", "", new { @class = "form-control" })

                        <br />

                        @Html.TextBox("Email", "", new { @class = "form-control" })

                    </div>
                    <div class="modal-footer">
                        @Html.DisplayFor(a => a.lblMessage, new { @CssClass = "label.error" })


                        <button type="submit" id="btnSave" name="Command" value="ForgotPassword" class="btn btn-default">Submit</button>


                        <input type="button" value="Cancel" class="btn btn-default"
                            onclick="javascript:document.location.href='@Url.Action("Login", "LogIn")    '" />

                    </div>
                </div>
            </div>
          //   </div>
        }
    </div>
 
</body>
</html>
