<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-SECU_CAMSPlus_DEV-20151230173931;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-SECU_CAMSPlus_DEV-20151230173931.mdf" providerName="System.Data.SqlClient"/>
    <add name="AMSCAMSPlusEntities" connectionString="metadata=res://*/AMS.csdl|res://*/AMS.ssdl|res://*/AMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CSS-D-021;initial catalog=AssetManagentCAMSPlus;user id=sa;password=sqlserver@1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <appSettings>
    <!--<add key="conString" value="server=10.10.10.120;database=CAMS_PLUS_FRONTEND_DB_CHANGE_ONLY;integrated security=SSPI;uid=sa;Password=sqlserver@1;Trusted_Connection=false;Connection Timeout=100" />
    <add key="conReplication" value="server=10.10.10.120;database=CAMS_PLUS_FRONTEND_DB_CHANGE_ONLY;integrated security=SSPI;uid=sa;Password=sqlserver@1;Trusted_Connection=false;Connection Timeout=100" />-->
    <!--<add key="conString" value="server=10.10.10.204;Initial Catalog=AssetManagentCAMSPlus;integrated security=SSPI;uid=sa; password=sqlserver@1;Trusted_Connection=false;Connection Timeout=100" />-->
    <!--<add key="conString" value="server=10.10.11.65\SQL1;Initial Catalog=AssetManagentCAMSPlus1;integrated security=SSPI;uid=sa; password=sqlserver@1;Trusted_Connection=false;Connection Timeout=100" />
    <add key="conReplication" value="server=10.10.11.65\SQL1;Initial Catalog=AssetManagentCAMSPlus1;integrated security=SSPI;uid=sa;password=sqlserver@1;Trusted_Connection=false;Connection Timeout=100" />-->

    <!--<add key="conString" value="server=192.168.0.118;Initial Catalog=CAMSPlus;integrated security=SSPI;uid=sa; password=Welcome@123;Trusted_Connection=false;Connection Timeout=100" />
    <add key="conReplication" value="server=192.168.0.118;Initial Catalog=CAMSPlus;integrated security=SSPI;uid=sa;password=Welcome@123;Trusted_Connection=false;Connection Timeout=100" />-->

    <!--<add key="conString" value="server=192.168.0.112;Initial Catalog=CAMSPlus;integrated security=SSPI;uid=CAMSGUI; password=css#css*tango;Trusted_Connection=false;Connection Timeout=100" />
    <add key="conReplication" value="server=192.168.0.112;Initial Catalog=CAMSPlus;integrated security=SSPI;uid=CAMSGUI;password=css#css*tango;Trusted_Connection=false;Connection Timeout=100" />-->
    
    <add key="conString" value="server=10.10.10.212;Initial Catalog=CAMSPlus;integrated security=SSPI;uid=sa; password=sqlserver@1;Trusted_Connection=false;Connection Timeout=100"/>
    <add key="conReplication" value="server=10.10.10.212;Initial Catalog=CAMSPlus;integrated security=SSPI;uid=sa;password=sqlserver@1;Trusted_Connection=false;Connection Timeout=100"/>


    <!--<add key="conString" value="server=10.10.11.93;Initial Catalog=CAMSPlus;integrated security=SSPI;uid=sa; password=sqlserver@1;Trusted_Connection=false;Connection Timeout=100"/>
    <add key="conReplication" value="server=10.10.11.93;Initial Catalog=CAMSPlus;integrated security=SSPI;uid=sa;password=sqlserver@1;Trusted_Connection=false;Connection Timeout=100"/>-->

    
    <add key="SessionTime" value="60"/>
    <add key="RefreshCache" value="Yes"/>
    <add key="RefreshCacheMaxPanel" value="2"/>
    <!-- Note:-TrackingrefreshInterval is time of page fresh interval -->
    <add key="TrackingrefreshInterval" value="5000"/>
    <!-- Note:-StopTrackingtimeOut is time of auto stop  traking if it is 0 then auto stop  traking is disabled and it should be alowas greater than TrackingrefreshInterval-->
    <add key="StopTrackingtimeOut" value="60000"/>
    <add key="AutoRefreshTimeOut" value="2500"/>
    <add key="log_Path_Error" value="D:\\CAMS\\CAMS_Logs\\Error\\"/>
    <add key="log_Path_Audit" value="D:\\CAMS\\CAMS_Logs\\Audit\\"/>
    <add key="log_Path_Activity" value="D:\\CAMS\\CAMS_Logs\\Activity\\"/>
    <add key="log_Path_System" value="D:\\CAMS\\CAMS_Logs\\System\\"/>
    <add key="Panel_Response_MsgDesc" value="Panel Not Responding."/>
    <add key="PassExp" value="3"/>
    <add key="PassNo" value="2"/>
    <add key="PhoneServerIP" value="10.10.10.23"/>
    <add key="PhoneServerPort" value="8002"/>
    <!--Actual Limit will be +1-->
    <add key="TicketDateLimit" value="6"/>
    <add key="MainsPowerCutLimit" value="9"/>
    <add key="UpsBatteryBackupLimit" value="9"/>
    <add key="AttendanceLimit" value="6"/>
    <!-- Please do not change this-->
    <add key="ChestDoorLimit" value="9"/>
    <add key="ThermalLimit" value="9"/>
    <add key="UPSPowerLimit" value="9"/>
    <add key="MainsPowerLimit" value="9"/>
    <add key="NeworkFailureLimit" value="9"/>
    <add key="AlarmPanelNotRespondingLimit" value="9"/>
    <add key="PanelTrackingLimit" value="9"/>
    <add key="DelayTickets" value="1"/>
    <add key="ServerUserName" value="Administrator"/>
    <add key="ServerPassword" value="pass@123"/>
    <add key="ServerDomainName" value="CONCERTO-D42"/>
    <add key="PanelRST" value="NYY005][N|000"/>
    <add key="DefaultCountryCode" value="91"/>
    <!--<add key="PanelRST" value="RST"/>-->
      
    <!--For new Message String-->
    <add key="Fire" value="022"/>
    <add key="CustomCircle" value="Low Priority"/>
    <add key="CustomLiveCircle" value="C1"/>
    <add key="webpages:Version" value="2.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="SalesExecutiveHome" value="http://localhost:54313/AssetManagement/SalesExecutiveHome.aspx?UserType="/>
    <add key="SalesManagerHome" value="http://localhost:54313/AssetManagement/SalesManagerHome.aspx?UserType="/>
    <add key="WareHouseHome" value="http://localhost:54313/AssetManagement/WareHouseHome.aspx?UserType="/>
    <add key="ProcurementTeamHome" value="http://localhost:54313/AssetManagement/ProcurementTeamHome.aspx?UserType="/>
    <add key="SiteCoordinatorHome" value="http://localhost:54313/AssetManagement/WareHouseHome.aspx?UserType="/>
    <!--To set the Sales Project ID for Panels Page-->
    <add key="SalesProjectID" value="ICI10MUM6"/>  <!--Need to Update table "AMS_ProjectMaster" set CAMSSite Count  = Panel Count to add and sitecount = 0-->  
    <!--To Enable POC if any-->
    <add key="Licence" value="YES"/>
    <add key="Stage" value="First"/>
    <!--To add Manual AD refresh time-->
    <!--<add key="POCPanelValue" value="5"/>  -->
    <!--To set the POC value as per panel-->
   <add key="ManualADRefreshTime" value="5000"/>

    <add key="AutoRefreshTrackingTime" value="60000"/>
    

  </appSettings>
  <system.web>
    <sessionState mode="InProc" timeout="30"/>
    <compilation targetFramework="4.0">
      
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      </assemblies>
    </compilation>
    
    <httpRuntime requestValidationMode="2.0"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880"/>
    </authentication>
    <pages validateRequest="false">
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Optimization"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit"/>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0"/>
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="PGService_TCP">
          <security mode="None"/>
        </binding>
        <binding name="PGService_TCP1">
          <security mode="None"/>
        </binding>
        <binding name="PGService_TCP2">
          <security mode="None"/>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.10.11.69:9311/" binding="wsHttpBinding" bindingConfiguration="PGService_TCP" contract="ServiceReference1.CorePGIService1" name="PGService_TCP"/>
      <!--<endpoint address="http://10.10.11.69:9311/" binding="wsHttpBinding" bindingConfiguration="PGService_TCP" contract="ServiceReference1.CorePGIService1" name="PGService_TCP"/>-->
    </client>
  </system.serviceModel>
  <system.net>
    <mailSettings>
      <smtp from="cms@soteria.in">
        <network host="SMTP.gmail.com" port="587" 
                 userName="CMS Implementation"
                 password="Dhav@10" enableSsl="false"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>